.form {
    margin: 0;
    padding: 0;
    width: 100%;

    margin-bottom: 1rem;
}

.form-header {
    margin-bottom: 1rem;
    padding-bottom: .5rem;

    border-bottom: 1px solid var(--grey);

    width: 100%;
}

.form-input {
    font-size: 1rem;
    margin-bottom: 0;
}

.album-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.album-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    width: 100%;

    padding: 0.5rem 1rem;

    margin: 0.5rem 0;

    gap: 0.5rem;

    background-color: var(--grey);
    border-radius: var(--border-radius);
}

.album-user {
    color: var(--white);
    background-color: var(--bg-indigo);

    font-size: 1rem !important;

    padding: 0.1rem 0.5rem;

    border-radius: var(--border-radius);
}

.album-body {
    font-size: 0.8rem;
    color: var(--white-dim);
    margin: 1rem 0;
}

.album-body-c {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.album-id {
    color: var(--blue);
    text-decoration: none;
}

.album-photos {
    width: 100%;
}

.photo-section {
    margin-top: 1rem;
}

.photos-header {
    width: 100%;

    border-bottom: 1px solid var(--bg-primary);

    padding-bottom: 0.5rem;
}