.photo-item {
    display: flex;
    flex-direction: column;

    width: fit-content;

    padding: 0;
    padding-bottom: 1rem;

    /* border-radius: var(--border-radius); */

    max-width: 20%;
    min-width: 10%;

    /* width: 200px; */
    /* max-height: 300px; */
}

.photo-item img {
    width: 100%;
    height: auto;

    border-radius: var(--border-radius);

    margin-bottom: 1rem;
}

.photo-item p {
    margin: 0;
    padding: 1rem;
    padding-top: 0;

    font-size: 1rem;
    font-weight: 500;

    color: var(--grey);
}