.form {
    margin: 0;
    padding: 0;
    width: 100%;

    margin-bottom: 1rem;
}

.form-header {
    margin-bottom: 1rem;
    padding-bottom: .5rem;

    border-bottom: 1px solid var(--grey);

    width: 100%;
}

.form-input {
    font-size: 1rem;
    margin-bottom: 0;
}

.post-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}